body{
    font-family: 'Roboto', sans-serif;
    color:#434455 ;
    background-color:#ffffff;
}
      
ul,li{
list-style-type: none;
}

a{
text-decoration: none;
}

.logo{
    text-transform: uppercase;
    color: #4D5AE5;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    letter-spacing: 0.03;
    line-height: 1.17;
    font-weight: 700;
}

.link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02;
    counter-reset: #2e2f42;
}

.link:hover{
    color: #404bbf;
}
.address{
    color: #434455;
}

.title{
background-color: #2E2F42;
text-align: center;
}

.title-title{
    color: var(--white, #FFF);
    /* Header 1 */
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 1.12px;
}

.title-button{
    background: var(--iris, #4D5AE5);
    cursor: pointer;
    color: var(--white, #FFF);
    /* Button Text */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

.title-button:hover {
background-color: #404BBF;

}

.heading2-title{
color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.heading2-title-heading{
color: var(--navyblue, #2E2F42);
    /* Header 3 */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.paragraph{
    color: var(--slate, #434455);
        /* Body */
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;

}

.team{

    background-color: F4F4FD;

}

.team-title{
    color: var(--navyblue, #2E2F42);
        text-align: center;
        /* Header 2 */
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

.team-image{
  background-color: #FFFFFF
  text-align: center; /* Header 3 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
}

.team-title-heading{
    color: var(--navyblue, #2E2F42);
        text-align: center;
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}

.portfolio-title{
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    line-height: 1.11;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
} 

.portfolio-title-heading{
    /* Header 3 */
    font-size: 20px;
    font-style: normal;
   color: #2e2f42;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.basement{
background:#2E2F42;
}

.paragraph-footer {
    color: #F4F4FD;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;

}